/* ============================================ *
 * Catalog - Product Variables
 * ============================================ */

$product-collateral__border-color: $theme-c-gray;
$price__color: $theme-c-red;

/* ============================================ *
 * Catalog - Product
 * ============================================ */

.product-view {
    .product-essential {
        .extra-info {
            .ratings {
                .rating-box,
                .amount {
                    float: left;
                }

                .rating-box {
                    margin-top: 8px;
                    margin-right: $gap;
                }

                &:after {
                    @include clearfix;
                }
            }
        }

        &:after {
            @include clearfix;
        }
    }

    .product-shop .product-name .h1,
    .product-img-box .product-name h1 {
        margin-bottom: 10px;
        border: 0;
    }



    .product-shop {
        & {
            float: right;
            width: 50%;
        }

        .product-name {
            display: none;
            float: left;
            padding-top: 35px;
        }
        .product-name .h1 {
            float: left;
            margin-bottom: 5px;
        }

        .extra-info {
            clear: left;
            width: 70%;
            padding-right: $trim/2;
        }

        .price-info {
            float: left;
            text-align: right;
        }

        .extra-info,
        .price-info {
            max-width: 70%;
            margin-bottom: $box-spacing;
        }

        .short-description {
            clear: both;
            margin-bottom: $box-spacing;
        }

        .ratings {
            margin-bottom: 8px;
        }

        .availability {
            font-size: $f-size-xl;
        }
    }

    .price-box {
        & {
            margin-top: 0;
        }

        .old-price,
        .special-price,
        .regular-price {
            padding-right: 0;
            line-height: 1.2;
        }

        .price {
            font-size: 24px;
            color: $price__color;
        }

        .special-price {
            .price-label {
                font-size: $f-size-xl;
                text-transform: uppercase;
            }

            span.weee {
                color: $c-text;

                span.price {
                    font-size: $f-size-xl;
                }
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: block;
            line-height: 1.2;
            color: $c-text;

            .label {
                font-size: $f-size-xl;
                font-weight: 300;
            }

            .price {
                font-size: 20px;
            }
        }
    }

    .price-box.map-info a {
        display: inherit;
    }

    .old-price {
        .price-label {
            display: none;
        }
    }

    .add-to-cart-wrapper {
        float: right;
        clear: right;
        width: 50%;
    }

    .additional-ifonrmation {
        float: right;
        clear: right;
        width: 50%;
        padding-left: 25px;
        margin-bottom: 10px;
    }
}

@include bp(max-width, 850px) {
    .product-view {
        .price-box {
            .price-excluding-tax,
            .price-including-tax {
                .label {
                    font-size: $f-size-l;
                }

                .price {
                    font-size: $f-size-xxl;
                }
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
    .product-view {
        .add-to-cart-wrapper {
            float: none;
            clear: both;
            width: 100%;
        }

        .product-shop {
            .price-box {
                .price-excluding-tax,
                .price-including-tax {
                    .label {
                        font-size: $f-size-xl;
                    }

                    .price {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@include bp(max-width, 420px) {
    .product-view {
        .product-shop {
            .price-box {
                .price-excluding-tax,
                .price-including-tax {
                    margin-bottom: 5px;

                    span {
                        display: block;
                    }
                }
            }
        }
    }
}

.product-img-box {
    float: left;
    width: 50%;

    .product-name {
        h1 {
            border: 0;
        }
    }

    .product-image {
        margin-bottom: $box-spacing;
    }

    .product-image img {
        max-width: 100%;
        // Since product detail page images are not cropped to a specific aspect ratio, in order to make the image not
        // cut off on tall skinny screens, we are setting a max-height on the image
        max-height: 750px;
        // Centering the image for instances where max-height kicks in
        margin: 0 auto;
    }
}

// On smaller devices, we want to further limit the height of the image, to prevent cropping
@include bp(max-width, $bp-xsmall) {
    .product-img-box .product-image img {
        max-height: 450px;
    }
}

.product-image-gallery {
    @include loadingOverlay();

    position: relative;

    .gallery-image {
        display: none;

        &.visible {
            display: block;

            &.hidden {
                visibility: hidden;
            }
        }
    }
}

.product-image-thumbs {
    li:first-child {
        margin-left: -1px;
    }

    a {
        display: inline-block;
        border: 1px solid transparent;
    }
}

.no-touch .product-image-thumbs {
    a:hover {
        border-color: darken($c-module-border-light, 15%);
    }
}

.product-view .product-shop,
.product-view .add-to-cart-wrapper,
.product-view .block-related {
    padding-left: $trim/2;
}

.product-img-box {
    padding-right: $trim/2;
}

.product-collateral {
    border-top: 1px solid $product-collateral__border-color;
    margin-top: 55px;
    padding-top: 30px;
}

.product-view .product-shop,
.product-img-box,
.product-collateral,
.box-collateral {
    margin-bottom: $box-spacing;
}

.product-img-box {
    & {
        display: flex;
        flex-direction: row-reverse;
    }

    .more-views {
        margin-right: 10px;
    }
}

.product-view {
    .add-to-box:after,
    .add-to-cart:after {
        @include clearfix;
    }

    .add-to-cart {
        margin-bottom: 25px;
        padding-bottom: 3px;
    }

    /* Set a min-height so that the floated elements break appropriately */
    .add-to-cart .qty-wrapper,
    .product-options-bottom .price-box,
    .add-to-cart-buttons {
        min-height: 40px;
    }

    .product-options-bottom .price-box,
    .add-to-cart .qty-wrapper,
    .add-to-cart-buttons .button,
    .add-to-cart-buttons .paypal-logo {
        margin-bottom: 10px;
    }

    .add-to-cart-buttons {
        .btn-cstm .svg-icon {
            width: 15px;
            height: 15px;
        }
    }

    .add-to-cart .qty-wrapper,
    .add-to-cart .qty-wrapper label {
        margin-right: 7px;
    }

    .add-to-cart .qty-wrapper label {
        line-height: 40px;
        text-transform: uppercase;
    }

    .add-to-cart .qty-wrapper .qty {
        height: 40px;
        font-weight: $font-weight__semibold;
        border: none;
    }

    .add-to-cart-buttons {
        & {
            max-width: 100%; // Constrain width in Firefox
            margin-right: 10px;
        }

        .paypal-logo {
            & {
                clear: left;
                text-align: center;
            }

            .paypal-button {
                display: block;
                width: 170px;
                margin: 0 auto;
            }

            .bml_button {
                display: block;
                width: 174px;
                margin: 0 auto;
            }

            .bml_button a {
                text-align: center;
            }

            .paypal-or {
                display: block;
                margin-right: 0;
                margin-bottom: 10px;
                margin-left: 0;
                line-height: 1;
                text-align: center;
            }
        }
    }

    .add-to-cart-buttons .button {
        min-width: 160px;
        min-height: 40px;
        padding: 0 30px;
        line-height: 40px;
        white-space: normal;
    }

    .alert-price,
    .alert-stock {
        clear: both;
    }
}

@include bp(max-width, $bp-xsmall) {
    .product-view .add-to-cart-buttons {
        .paypal-or {
            line-height: 20px;
        }

        .paypal-logo,
        .paypal-or,
        .paypal-button,
        .button {
            display: block;
            float: none;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            text-align: center;
        }
    }
}

/* This is the "or" that separates the "Add to Cart" and "Add to X" links */
.add-to-box .or {
    display: none;
}

.product-view .add-to-links {
    float: left;
    clear: both;
    margin-top: 0;
    margin-right: 15px;

    &:after {
        @include clearfix;
    }

    li {
        float: left;
    }

    a {
        margin-left: 7px;
        padding: 2px 7px 2px 0;
        border-right: 1px solid $c-module-border;
    }

    li:first-child a {
        margin-left: 0;
    }

    li:last-child a {
        border-right: 0;
    }
}

.product-view .sharing-links {
    > .item {
        display: inline-block;
    }

    > .item:not(:last-child) {
        margin-right: 25px;
    }

    .svg-icon {
        width: 16px;
    }
}

@include bp(max-width, 599px) {
    .add-to-box .add-to-links {
        a {
            @include image-replacement-override;

            float: none;
            width: auto;
        }
    }
}

.product-collateral {
    clear: both;
}

.collateral-tabs {
    dd {
        h2 {
            display: none;
        }
    }
}

.box-collateral {
    clear: both;
}

@include bp(min-width, $bp-medium + 1) {
    .product-collateral {
        @include tabs;
    }
}

@include bp(max-width, $bp-medium) {
    .product-collateral {
        @include accordion;
        @include accordionCollapse;
    }
}

@include bp(max-width, $bp-medium) {
    .product-view .product-shop,
    .product-view .add-to-cart-wrapper,
    .product-view .block-related,
    .product-img-box,
    .product-collateral {
        float: none;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

@include bp(min-width, $bp-medium + 1) {
    .product-view .product-shop .product-name {
        display: block;
    }
    .product-img-box .product-name {
        display: none;
    }
}

@include bp(max-width, $bp-xsmall) {
    .product-view .product-shop,
    .product-img-box,
    .product-collateral,
    .product-view .block-related,
    .box-collateral {
        margin-bottom: $trim-small;
    }
}

.product-view .ratings {
    .rating-links {
        float: left;
        clear: left;
        margin-top: 0;
    }
}

#product-attribute-specs-table {
    max-width: $max-std-formatted-width;
    border: 1px solid $c-table-border;

    th {
        border-right: 1px solid $c-table-border;
        border-bottom: 1px solid $c-table-border;
    }
}

/* -------------------------------------------- *
 * Catalog - Grouped Product List
 */

.grouped-items-table-wrapper {
    @include bp(max-width, $bp-xsmall) {
        margin-bottom: $trim-small;
    }

    width: 100%;
    margin-bottom: 15px;
    padding: $box-spacing;
    border: solid 1px $c-table-border;

    tbody tr:last-child td {
        border-bottom: none;
    }
}

.grouped-items-table {
    .name-wrapper {
        font-family: $f-stack-special;
        color: $c-text-primary;
    }

    .qty-wrapper {
        padding-top: $element-spacing;
    }

    .qty-label {
        margin-left: $element-spacing;
    }

    td {
        padding: 4px;

        &:last-child {
            width: 30%;
            text-align: left;
        }
    }
    .price-box {
        text-align: right;
    }
}

/* -------------------------------------------- *
 * Catalog - Product Options
 */

.product-options {
    clear: both;
    position: relative;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px 15px 15px;
    border: 1px solid $c-fieldset-border;
}

.product-options p.required {
    position: absolute;
    top: 6px;
    right: 15px;
    text-align: right;
}

@include bp(max-width, $bp-large) {
    .product-view .product-options .required {
        position: static;
    }
}

.product-options dt {
    margin: $gap 0 3px;
    font-weight: normal;
}

.product-options dt:first-child {
    margin-top: 0;
}

.product-options dd .qty-holder {
    display: block;
    padding: $gap 0 0 0;
}

.product-options dd .qty-holder .qty {
    width: 3em;
}

.product-options dd .qty-holder label {
    vertical-align: middle;
}

.product-options dd .qty-disabled {
    padding: 0 2px;
    border: 0;
    background: none;
}

.product-options dd {
    margin: 0 0 5px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $c-fieldset-border-light;
}

.product-options dl.last dd.last {
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 0;
}

.product-options dd .input-text {
    width: 98%;
}

.product-options dd .input-box {
    padding-top: 0;
}

.product-options dd input.datetime-picker {
    width: 150px;
}

.product-options dd .time-picker {
    @include inline-block;

    padding: 2px 0;
    vertical-align: middle;
}

.product-options dd textarea {
    width: 98%;
    height: 8em;
}

.product-options dd select {
    width: 330px;
    max-width: 100%;
}

.product-options ul.options-list {
    margin-right: 5px;
}

.product-options ul.options-list li {
    margin-bottom: 7px;
    line-height: 1.5;
}

.product-options ul.options-list li:last-child {
    margin-bottom: 0;
}

.product-options ul.options-list .radio,
.product-options ul.options-list .checkbox {
    float: left;
    margin-top: 5px;
}

.product-options ul.options-list .label {
    display: block;
}

.product-options ul.options-list label {
    font-weight: normal;
}

.product-options p.note {
    margin: 0;
    font-size: $f-size-xxs;
}

.product-options-bottom {
    margin-bottom: $box-spacing;
    padding: 15px 20px;
    border: 1px solid $c-fieldset-border;
    border-top: 0;
    background-color: $c-module-background;
}

.product-options-bottom:after {
    @include clearfix;
}

.product-options-bottom .product-pricing,
.product-options-bottom .tier-prices {
    @include bp(max-width, $bp-xlarge) {
        float: none;
        width: 100%;
        margin-bottom: $gap;
        padding-bottom: $gap / 2;
        text-align: right;
        border-bottom: 1px solid $c-fieldset-border;
    }

    float: right;
    margin: 0;
    padding: 0 0 $gap;
    color: $c-text;
    border: 0;
    background: 0;
}

.product-options-bottom .tier-prices li {
    padding: 2px 0;
    background: 0;
}

.product-options-bottom .tier-prices .price,
.product-options-bottom .tier-prices .benefit {
    color: $c-text;
}

/* "display: none" should be removed if products on site have a long list of product options and those product options */
/*  affect the price so that the customer can see the updated price close to the "Add to Cart" button */
.product-options-bottom .price-box {
    display: none;
    float: right;
    margin: 0 0 $gap;
    padding: 0;
}

@include bp(max-width, $bp-xsmall) {
    .product-options-bottom .price-box .price-as-configured {
        text-align: right;

        .price-label {
            display: block;
        }
    }
}

.product-options-bottom .price-tax {
    float: left;
}

/* -------------------------------------------- *
 * Upsell Products
 */

.box-up-sell {
    .ratings {
        display: none;
    }
}
