.icon:not(.-svg) {
    & {
        font-size: $icon__font-size-m;
    }

    &.-small {
        font-size: $icon__font-size-s;
    }
}
.svg-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: currentColor;
}

.svg-icon.arrow-right-lighter.-down {
    transform: rotate(90deg);
}