$link-primary__color: $c-black;
$link-primary_hover__color: lighten($c-black,60%);
$link-secondary__color: lighten($c-black,60%);
$link-secondary_hover__color: $c-black;
$link-active__color: $theme-c-red;


.link {
    & {
        cursor: pointer;
        transition: color .3s ease-in;
        text-decoration: none;
        color: $link-primary__color;
    }

    &:hover {
        color: $link-primary_hover__color;
    }

    &.-secondary.-red:hover,
    &.-secondary:focus,
    &:focus {
        color: $link-active__color;
    }

    &.-secondary {
        color: $link-secondary__color;
    }

    &.-secondary:hover {
        color: $link-secondary_hover__color;
    }

    &.-no-hover:hover {
        transition: none;
        color: inherit;
    }
}
