
$customer-links--links--link__color: $theme-c-light-gray;
$customer-links--links--link__font-weight: $font-weight__bold;
$customer-links--links--link__font-size: $f-size;
$footer-bottom__font-size: $f-size-xxs;

/* ============================================ *
 * Footer
 * ============================================ */

/* -------------------------------------------- *
 * Footer
 */

.footer {
    & {
        clear: both;
        width: 100%;
        padding-top: $trim;
        border-top: 1px solid $c-module-border;
    }

    .form-subscribe-header {
        display: none;
    }

    .bugs,
    address {
        clear: both;
    }

    .bugs {
        display: none;
    }

    .form-language,
    .currency-switcher,
    .store-switcher {
        clear: both;
        margin-bottom: $gap;
    }

    .form-language,
    .currency-switcher {
        display: none;
    }

    address {
        width: 100%;
        margin-top: $trim;
        padding: $trim 0;
        font-size: $f-size-xxs;
        text-align: center;
        border-top: 1px solid $c-module-border;
    }

    .customer-links {
        margin: 20px 0 20px;
        text-align: center;
    }

    .customer-links > .links > .list {
        padding-top: 10px;
    }

    .customer-links > .links {
        display: inline-block;
        position: relative;
        margin-right: 35px;
        margin-left: 10px;
        padding: 0 25px 0 30px;
        text-align: left;
        vertical-align: text-top;
    }

    .customer-links > .links:before {
        position: absolute;
        padding: 15px 15px 25px 15px;
        content: '';
        background-repeat: no-repeat;
    }

    .customer-links > .links:nth-child(1):before {
        top: 10%;
        left: -10%;
        background-image: url(../images/ico-launch.png);
    }

    .customer-links > .links:nth-child(2):before {
        top: 10%;
        left: -10%;
        background-image: url(../images/ico-paper.png);
    }

    .customer-links > .links:nth-child(3):before {
        top: 10%;
        left: -15%;
        background-image: url(../images/ico-contacts.png);
    }

    .customer-links > .links:not(:last-of-type) {
        border-right: 1px solid $customer-links--links--link__color;
    }

    .customer-links > .links:last-of-type {
        padding-right: 0;
    }

    .customer-links > .links .link {
        display: inline-block;
        margin-bottom: 5px;
        font-size: $customer-links--links--link__font-size;
        font-weight: $customer-links--links--link__font-weight;
        text-transform: uppercase;
    }

    .footer-bottom {
        position: relative;
        padding: 20px 0 25px;
        font-size: $footer-bottom__font-size;
        text-align: center;
        background-color: #403e40;
    }

    .footer-bottom > .links {
        display: inline-block;
        margin-bottom: 10px;
    }

    .footer-bottom > .links > .link:not(:last-of-type):after {
        padding-left: 5px;
        content: '|';
    }

    .go-top {
        & {
            @include centred-content(true,false);

            width: 20px;
            transition: color .3s ease-in-out;
            color: $c-white;
        }

        .svg-icon {
            width: 100%;
        }

        &:hover {
            color: $theme-c-red;
        }
    }
}

@include bp (min-width, $bp-medium) {
    .footer {
        .go-top {
            right: 15%;
        }
    }
}
